@model List<PostosModel>
@{
    ViewData["Title"] = "Listagem de Postos";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-primary" asp-controller="Postos" asp-action="Criar">Adicionar novo posto</a>
    </div>

    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

   

    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de Postos</h1>

    <table class="table" id="table-postos">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Posto</th>
                <th scope="col">Endereço</th>
                <th scope="col">Gasolina Normal</th>
                <th scope="col">Gasolina Aditivada</th>
                <th scope="col">Diesel</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(PostosModel postos in Model)
                {
                    <tr>
                        <th scope="row">@postos.Id</th>
                        <td>@postos.Nome</td>
                        <td>@postos.Endereco</td>
                        <td>@postos.PrecoGasolinaComum</td>
                        <td>@postos.PrecoGasolinaAditivada</td>
                        <td>@postos.PrecoDiesel</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@postos.Id" asp-controller="Postos" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@postos.Id" asp-controller="Postos" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

